<main>
  <h1 class="cabeca"><strong>Escola Adamopus</strong></h1>
  <div class="container">
      <div class="row align-items-center">
          <div class="col">
              <div class="p-3 mb-2 bg-warning text-dark">
                  Queridos vestibulandos, devido ao Covid-19 e a
                  quarentena para evitar sua transmissão, as
                  inscrições para nossos cursos serão solenemente
                  online. Para mais informações ou transferências,
                  entre em contato pelo e-mail contato@adamopus.com.br
                  ou pelo nosso telefone de contato, (11)977508259.
              </div>
          </div>
      </div>
  </div>
  <!--<div>
      <h2>
          <span class="border-left border-primary border-width"
              >Cursos Oferecidos</span
          >
      </h2>
      <h3>
          <span class="border-left border-primary border-width"
              >Exatas</span
          >
      </h3>
  </div>
  <div class="accordion" id="accordionExample">
      <div class="card">
          <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                  <button
                      class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                  >
                      Matemática Euclidiana
                  </button>
              </h5>
          </div>

          <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
          >
              <div class="card-body">
                  <p>
                      Venha conhecer os blocos de construção da
                      matemática. A Matemática Euclidiana fala sobre
                      os esforços de Aristóteles para explicar e
                      compreender a forma vital da matemática no
                      cenário grego de conhecimento.
                  </p>
                  <label
                      ><strong class="bolinha"
                          >Coordenador do Curso:</strong
                      >
                      Alef Felix <br />
                  </label>
                  <label><i>Carga Horária:</i> 2 Semestres</label>
                  <ul>
                      <li>Teorema de Pitágoras</li>
                      <li>Fundamentos do Pensamento Matemático</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                  <button
                      class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                  >
                      Astronomia e Astrofísica
                  </button>
              </h5>
          </div>
          <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
          >
              <div class="card-body">
                  <p>
                      Venha conhecer os mistérios matematicos do
                      universo! Através da Astronomia e da
                      Astrofísica, o universo em constante crescimento
                      receberá sentido e lógica através de formulas e
                      conhecimentos provados.
                  </p>
                  <label
                      ><strong class="bolinha"
                          >Coordenador do Curso:</strong
                      >
                      Giovanna Fernandes Melo<br
                  /></label>
                  <label><i>Carga Horária:</i> 2 Semestres</label>
                  <ul>
                      <li>História da Astronomia e Astrologia</li>
                      <li>Determinação e Identificação de Astros</li>
                  </ul>
              </div>
          </div>
      </div>
      <div>
          <h3>
              <span class="border-left border-primary border-width"
                  >Humanas</span
              >
          </h3>
      </div>
      <div class="card">
          <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                  <button
                      class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                  >
                      Literatura Trovadoresca
                  </button>
              </h5>
          </div>
          <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
          >
              <div class="card-body">
                  <p>
                      Aprenda com os textos dos antigos mestres
                      trovadores como fazer um poema ou uma cantiga
                      inesquecível e que tocará os corações! Aprenda a
                      fazer cantigas de amor, para falar dos amores
                      presentes e passados! Cantigas de amigo, para
                      falar sobre a falta do seu amado enquanto ele
                      viaja! Cantigas de escárnio para mandar a
                      indireta pra inimiga no Twitter, e cantigas de
                      maldizer, para mandar a real para alguem
                      extremamente idiota e escroto!
                  </p>
                  <label
                      ><strong class="bolinha"
                          >Coordenador do Curso:</strong
                      >
                      Adam Levesque<br
                  /></label>
                  <label><i>Carga Horária:</i> 5 Semestres</label>
                  <ul>
                      <li>Introdução e Analise de Cantigas</li>
                      <li>Cantigas de Amor</li>
                      <li>Cantigas de Amigo</li>
                      <li>Cantigas de Escárnio</li>
                      <li>Cantigas de Maldizer</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                  <button
                      class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                  >
                      Administração
                  </button>
              </h5>
          </div>
          <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
          >
              <div class="card-body">
                  <p>
                      Aprenda a ser um gestor, líder e empreendedor,
                      com domínio da ciência da Administração,
                      comprometido com pressupostos éticos que
                      promovam de forma crítica, reflexiva e
                      responsável, o desenvolvimento sustentável das
                      organizações e da sociedade.
                  </p>
                  <label
                      ><strong class="bolinha"
                          >Coordenador do Curso:</strong
                      >
                      Vinicius Silva dos Santos<br
                  /></label>
                  <label><i>Carga Horária:</i> 6 Semestres</label>
                  <ul>
                      <li>Comunicação Organizacional</li>
                      <li>Psicologia Aplicada a Gestão</li>
                      <li>Recursos Humanos</li>
                      <li>Administração Pública</li>
                      <li>Ciclo PDCA</li>
                      <li>Estudo do Comportamento do Consumidor</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                  <button
                      class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="false"
                      aria-controls="collapseFive"
                  >
                      Mitologia Latino-Americana
                  </button>
              </h5>
          </div>
          <div
              id="collapseFive"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
          >
              <div class="card-body">
                  <p>
                      Aprenda sobre a mitologia do continente
                      americano! Dos incas aos apaches, descubra sobre
                      como eles veneravam seus deuses, energias,
                      entidades, seres, entre outros!
                  </p>
                  <label
                      ><strong class="bolinha"
                          >Coordenador do Curso:</strong
                      >
                      Augusto Rowland Octokrur<br
                  /></label>
                  <label><i>Carga Horária:</i> 4 Semestres</label>
                  <ul>
                      <li>Povos Latino Americanos I</li>
                      <li>Povos Latino Americanos II</li>
                      <li>Povos Latino Americanos III</li>
                      <li>Povos Norte Americanos</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>--> <cursos></cursos>
  <hr>
  <professores></professores>
  <div class="container">
      <div class="row align-items-center">
          <div class="col">
              <footer class="page-footer font-small mdb-color pt-4">
                  <div class="container text-center text-md-left">
                      <div
                          class="row text-center text-md-left mt-3 pb-3"
                      >
                          <div
                              class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3"
                          >
                              <h6
                                  class="text-uppercase mb-4 font-weight-bold"
                              >
                                  Escola Adamopus
                              </h6>
                              <p>
                                  A primeira escola digital de São
                                  Paulo a oferecer os cursos
                                  tecnologos com professores
                                  pós-doutorando em suas respectivas
                                  áreas. Aprenda de verdade, somente
                                  em Adamopus!
                              </p>
                          </div>
                          <hr class="w-100 clearfix d-md-none" />
                          <div
                              class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3"
                          >
                              <h6
                                  class="text-uppercase mb-4 font-weight-bold"
                              >
                                  Contato
                              </h6>
                              <p>
                                  <i class="fas fa-envelope mr-3"></i>
                                  contato@adamopus.com.br
                              </p>
                              <p>
                                  <i class="fas fa-phone mr-3"></i> +55(11)976508259
                              </p>
                          </div>
                      </div>
                  </div>
              </footer>
          </div>
      </div>
  </div>
</main>